{% set grid_size = themevar('grid-size') %}
{% set showcase_image = page.media.images|first %}

<section id="modular-showcase" class="section text-light {{ page.header.background.parallax ? 'parallax' : '' }} {{ page.header.background.parallax ? 'parallax' : '' }}" {% if showcase_image %}style="background-image: url({{ showcase_image.url }});"{% endif %}>
    <section class="container {{ grid_size }}" style="text-align: {{ page.header.text_align|default('left') }}">

    {{ content }}

    </section>
</section>
