{% set grid_size = theme_var('grid-size') %}
{% set image = page.media.images|first %}

<section class="section modular-text {{ page.header.class}} bg-gray">
    <section class="container {{ grid_size }}">
        <div class="columns {{ page.header.image_align|default('align-right') }}">
            {% if image %}
            <div class="column col-7 col-md-6 col-sm-12">
                {{ content|raw }}
            </div>
            <div class="column col-5 col-md-6 col-sm-12 vertical-img">
		<span></span>
                {% if image %}
                    {{ image.html|raw }}
                {% endif %}
            </div>
            {% else %}
            <div class="column col-12">
                {{ content|raw }}
            </div>
            {% endif %}
        </div>
    </section>
</section>
