<ul class="archives" role="list" aria-label="{{ 'THEME_QUARK.ARIA_LABELS.MONTHLY_ARCHIVES'|t }}">
{% for month,items in archives_data %}
    <li role="listitem">
        <a href="{{ base_url }}/{{ config.plugins.archives.taxonomy_names.month }}{{ config.system.param_sep }}{{ month|date(config.plugins.archives.taxonomy_values.month)|lower|e('url') }}"
           aria-label="Articles from {{ month|date(config.plugins.archives.date_display_format) }} ({{ items|length }} articles)">
            {% if archives_show_count %}
            <span class="label label-rounded label-primary" aria-hidden="true">{{ items|length }}</span>
            {% endif %}
            <span class="archive_date">{{ month|date(config.plugins.archives.date_display_format) }}</span>
        </a>
    </li>
{% endfor %}
</ul>
