{% set body_classes = body_class(['header-fixed', 'header-animated', 'header-dark', 'header-transparent', 'sticky-footer']) %}
{% set grid_size = theme_var('grid-size') %}
{% set compress = theme_var('production_mode') ? '.min.css' : '.css' %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: grav.config.site.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/favicon.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://css-compiled/spectre'~compress) %}
        {% if theme_var('spectre.exp') %}{% do assets.addCss('theme://css-compiled/spectre-exp'~compress)  %}{% endif %}
        {% if theme_var('spectre.icons') %}{%  do assets.addCss('theme://css-compiled/spectre-icons'~compress) %}{% endif %}
        {% do assets.addCss('theme://css-compiled/theme'~compress) %}
        {% do assets.addCss('theme://css/custom.css') %}
        {% do assets.addCss('theme://css/line-awesome.min.css') %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs('jquery', 101) %}
        {% do assets.addJs('theme://js/jquery.treemenu.js', {group:'bottom'}) %}
        {% do assets.addJs('theme://js/site.js', {group:'bottom'}) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head %}
</head>
<body id="top" class="{% block body_classes %}{{ body_classes }}{% endblock %}">
    <div id="page-wrapper">
    {% block header %}
        <div id="header" class="section">
        <div class="container {{ grid_size }}">
            <div class="navbar">
             <header class="navbar-section logo" role="banner">
               <h1 class="navbar-section logo"><a href="{{ home_url }}" class="navbar-brand mr-10">{% include('@images/grav-logo.svg') %}</a></h1>
             </header>
             <nav class="navbar-section" role="navigation">
                  <div class="dropmenu animated">
                            {% block header_navigation %}
                        {% include 'partials/navigation.html.twig' %}
                            {% endblock %}
                   </div>

                        {% if config.plugins.login.enabled and grav.user.username %}
                            <span class="login-status-wrapper"><i class="fa fa-user"></i> {% include 'partials/login-status.html.twig' %}</span>
                        {% endif %}
                </nav>
            </div>
        </div>
    </div>

        <div class="mobile-menu">
            <button class="button_container" id="toggle" aria-label="Menu" aria-expanded="false" aria-controls="mobile-menu">
                <span class="top"></span>
                <span class="middle"></span>
                <span class="bottom"></span>
            </button>
        </div>
        <div class="mobile-container">
        <div class="overlay" id="overlay">
            <div class="mobile-logo">
                {% include('@images/grav-logo.svg') %}
            </div>
            <nav class="overlay-menu" id="mobile-menu">
                {% include 'partials/navigation.html.twig' with {tree: true} %}
            </nav>
        </div>
    </div>

    {% endblock %}

    {% block hero %}{% endblock %}

        <main id="start" role="main">
        {% block body %}
            <section id="body-wrapper" class="section">
                <section class="container {{ grid_size }}">
                    {% block messages %}
                        {% include 'partials/messages.html.twig' ignore missing %}
                    {% endblock %}
                    {% block content %}{% endblock %}
                </section>
            </section>
        {% endblock %}
        </main>

    </div>

{% block footer %}
    <footer id="footer" class="section bg-gray" role="contentinfo">
        <section class="container {{ grid_size }}">
            <p><a href="http://getgrav.org">Grav</a> <span class="sr">was coded with love by</span><span aria-hidden="true">was <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse"></i> by</span> <a href="https://trilby.media">Trilby Media</a>.</p>
        </section>
    </footer>
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
