{% macro nav_loop(links) %}
  {% import _self as macros %}
  {% for l in links %}
    <li>
      <a href="{{ l.href }}" class="{{ l.id }} level-{{ l.level }}{{ l.active ? ' active' }}">
        {{ l.text }}
      </a>
      {% if l.links|length > 0 %}
        <ul>
          {{ macros.nav_loop(l.links) }}
        </ul>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}
