{% macro nav_loop(page) %}
  {% import _self as macros %}
  {% for p in page.children.visible %}
    {% set active_page = (p.active or p.activeChild) ? 'active' : '' %}
    <li>
      {% if p.children.visible.count > 0 %}
      <a tabindex="0" role="button" class="{{ active_page }}" {%if p.active %}aria-current="page"{% endif %}>
        {{ p.menu }}
      </a>
      <ul>
        {{ macros.nav_loop(p) }}
      </ul>
      {% else %}
        <a href="{{ p.url }}" class="{{ active_page }}" {%if p.active %}aria-current="page"{% endif %}>
        {{ p.menu }}
        </a>
      {% endif %}
    </li>
  {% endfor %}
{% endmacro %}
